<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tentang Kami</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <section id="about" class="about">
        <h2><span>Tentang</span> Kami</h2>
    
        <div class="row">
            <div class="about-img">
                <img src="/gambar/logo mbc.png" alt="Tentang Kami">
            </div>
            <div class="content">
                <h3>Website ini adalah sebuah tugas LAS dari MBCLAB</h3>
                <p>Pekernalkan Nama saya Geo Bayu Febriando Dunggio saya Mahasiswa Telkom university jurusan Teknologi
                   Rekayasa Multimedia dan Saya sekarang CaAs(Calon Asisten MBCLAB) Divisi GIS.</p>
                <p>Geographic Information System (GIS) adalah sistem yang digunakan untuk mengumpulkan, menyimpan, menganalisis, dan menampilkan data yang terkait dengan lokasi di permukaan bumi.
                   GIS memungkinkan pengguna untuk melihat, memahami, dan memvisualisasikan data geografis dalam bentuk peta, grafik, dan laporan, sehingga dapat digunakan untuk berbagai aplikasi 
                   seperti perencanaan kota, manajemen sumber daya alam, dan analisis lingkungan.</p>
            </div>
        </div>
    </section>
</body>
</html>
