<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GeoMaps</title>

    <link rel="stylesheet" href="style.css">

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,700;1,700&display=swap"
        rel="stylesheet">

    <!-- feather icons -->
    <script src="https://unpkg.com/feather-icons"></script>
    
    
</head>

<body>


    <!-- navbar-start -->
    <nav class="navbar">
        <a href="#" class="navbar-logo">Geo<span>Map</span>.</a>
        <div class="navbar-nav">
            <a href="#">Beranda</a>
            <a href="about.html">Tentang kami</a>
            <a href="maps.html">Peta</a>
            <a href="Kontak.html">Kontak</a>
        </div>
    </nav>

    <!-- navbar-end -->
   
    <!-- Hero Section -->
    <section class="hero" id="home">
        <main class="content">
            <h1>Jelajahi Sejarah<span>Bandung</span></h1>
            <p>Temukan kekayaan sejarah dan budaya di berbagai museum di Bandung.</p>
        </main>
    </section>
    <!-- Footer Section -->

    <footer>
        <div class="socials">
            <a href="https://www.instagram.com/geo.byu_?igsh=MTJxOGg1eW55YnBkNQ%3D%3D&utm_source=qr"><i data-feather="instagram"></i></a>
        </div>

        <div class="links">
            <a href="#Beranda">Beranda</a>
            <a href="about.html">Tentang Kami</a>
            <a href="maps.html">Peta</a>
            <a href="Kontak.html">Kontak</a>
        </div>

        <div class="credit">
            <p>Created By <a>Geo Bayu Febriando.D</a>. | CAss MBC LAB</p>
        </div>
    </footer>
    <!-- Footer Section-end -->
    <!-- feather icons -->
    <script>
        feather.replace()
    </script>
</body>
</html>