<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Peta</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <section id="menu" class="menu">
        <h2><span>Peta</span>Museum</h2>
        <p>Dibawa ini adalah Peta Penyebaran Museum daerah Kota Bandung.</p>
    </section>
    <div class="container">
      <div class="maps">
        <iframe src="http://localhost:8000/index.html" style="position: center 0; left: 0; width: 100%; height: 50vh; border: none;" allowfullscreen></iframe>
      </div>
  </div>
</body>
</html>